<div class="user_form">
	<%= form_for @user do |f| %>

		<%= f.label :email, "Email" %><br/>
		<%= f.text_field :email, placeholder: "p.pakmanesh@gmail.com" %><br>


		<%= f.label :password, "Password" %><br/>
		<%= f.text_field :password, placeholder: "parks123" %><br>

		<%= f.submit "Sign in" %>
	<% end %>
</div>